<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #333;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <h1>Convertidor de monedas</h1>

    <form method="POST">
      <input type="text" name="monto_origen" value="0" />
      <input type="submit" value="Convertir" />
    </form>

    {% if monto_destino > 0%}
    <h3>El monto en Dolares es {{monto_destino}}</h3>
    {% endif %}

    <footer>
      <p>By <strong>{{author}}</strong></p>
    </footer>
  </body>
</html>
